<div class="decanter-icon-block {{ classes }}">
  <img class="decanter-icon-block__img" src="{{ src }}" alt="{{ alt }}">

  <div class="decanter-icon-block__body">
    <p class="decanter-icon-block__heading">{{ name }}</p>
    <p class="decanter-icon-block__detail">{{ detail }}</p>
    <p class="decanter-icon-block__link"><a href="{{ link }}">{{ text }}</a></p>
  </div>

</div>
