{#
/**
 * @file
 * Global Footer Component.
 *
 * Stanford Universal Footer as defined at https://identity.stanford.edu/web-mobile.html#build-something-new
 * This component should be added into the footer region of your site below site-specific footer section, if any.
 * The entire footer can be made to "stick" to the bottom of the browser window by including the @sticky-footer mixin.
 */
#}
{% if template_path_logo is empty -%}
  {%- set template_path_logo = "@decanter/components/logo/logo.twig" -%}
{%- endif %}
{% if external_link_text is empty -%}
  {%- set external_link_text -%}
    <span class="su-global-footer__link-a11y">(link is external)</span>
  {% endset %}
{%- endif %}

<div class="su-global-footer {{ modifier_class }}">
  <div class="su-global-footer__container">
    <div class="su-global-footer__brand">
      {%- include template_path_logo -%}
    </div>
    <div class="su-global-footer__content">
      <nav aria-label="global footer menu">
        <ul class="su-global-footer__menu su-global-footer__menu--global">
          <li><a href="https://www.stanford.edu">Stanford Home{{ external_link_text }}</a></li>
          <li><a href="https://visit.stanford.edu/plan/">Maps &amp; Directions{{ external_link_text }}</a></li>
          <li><a href="https://www.stanford.edu/search/">Search Stanford{{ external_link_text }}</a></li>
          <li><a href="https://emergency.stanford.edu">Emergency Info{{ external_link_text }}</a></li>
        </ul>
        <ul class="su-global-footer__menu su-global-footer__menu--policy">
          <li><a href="https://www.stanford.edu/site/terms/"
                 title="Terms of use for sites">Terms of Use{{ external_link_text }}</a></li>
          <li><a href="https://www.stanford.edu/site/privacy/"
                 title="Privacy and cookie policy">Privacy{{ external_link_text }}</a></li>
          <li><a href="https://uit.stanford.edu/security/copyright-infringement"
                 title="Report alleged copyright infringement">Copyright{{ external_link_text }}</a></li>
          <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4"
                 title="Ownership and use of Stanford trademarks and images">Trademarks{{ external_link_text }}</a></li>
          <li><a href="https://studentservices.stanford.edu/more-resources/student-policies/non-academic/non-discrimination"
                 title="Non-discrimination policy">Non-Discrimination{{ external_link_text }}</a></li>
          <li><a href="https://www.stanford.edu/site/accessibility"
                 title="Report web accessibility issues">Accessibility{{ external_link_text }}</a></li>
        </ul>
      </nav>
      <div class="su-global-footer__copyright">
        <span>&copy; Stanford University.</span>
        <span>&nbsp; Stanford, California 94305.</span>
      </div>
    </div>
  </div>
</div> <!-- su-global-footer end -->
