{#
/**
 * @file
 * Signup Form Component.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional CSS classes to change look and behaviour.
 * - signup_form_content: An open content area for adding in anything.
 * - form_attributes: The form element attributes.
 * - signup_form_action: The url for the form submission
 * - signup_form_method: The action to take. Defaults to post.
 * - signup_form_field_email_id: A custom id for the email field.
 * - signup_form_field_email_name: A custom name for the email field.
 * - signup_form_field_email_aria_label: A custom aria-label for the email field.
 * - signup_form_field_email_placeholder: A custom placeholder for the email field.
 * - signup_form_fields: An open area for putting in any additional fields required.
 * - signup_form_field_submit_id: A custom id for the submit button.
 * - signup_form_field_submit_name: A custom name for the submit button.
 * - signup_form_field_submit_value: A custom submit value for the submit button.
 */
#}
<div {{ attributes }} class="su-signup-form {{ modifier_class }}">
  {# Add any additional markup above the form with this variable. #}
  {{ signup_form_content }}
  <form {{ form_attributes }} action="{{ signup_form_action|default("/") }}" method="{{ signup_form_method|default('post') }}">
    <input type="email" id="{{ signup_form_field_email_id|default('signup-email') }}" aria-label="{{ signup_form_field_email_aria_label|default('email address') }}" name="{{ signup_form_field_email_name|default('signup_email') }}" placeholder="{{ signup_form_field_email_placeholder|default('email address') }}" {{ signup_form_field_email_required|default('required') }} />
    {# Add any additional fields or markup to this form using this variable. #}
    {{ signup_form_fields }}
    <input type="submit" id="{{ signup_form_field_submit_id|default('signup-submit') }}" name="{{ signup_form_field_submit_name|default('submit') }}" value ="{{ signup_form_field_submit_value|default('Sign-up') }}" />
  </form>
</div>
