{#
/**
 * @file
 * Button Component
 *
 * A basic button element.
 *
 * Available variants:
 *
 * Available variables:
 * - attributes: A collection of html properties for button
 * - modifier_class: CSS class variants
 * - button_value: Button's value property
 * - button_name: Button's name property
 * - button_type: The type of button (submit | button | reset)
 * - button_label: The text to display as the button
 */
#}
<button{{attributes}} value="{{ button_value }}" name="{{ button_name }}" class="su-button {{ modifier_class }}" type="{{ button_type }}">{{ button_label }}</button>
