<div class="decanter-quote {{ modifier_class }}">
  <img class="decanter-quote__img " src="../../../img/circle.png" alt="Please provide alt text">
  <div class="decanter-quote__body ">
    <p class="decanter-quote__heading">{{ name }}</p>
    <p class="decanter-quote__detail">{{ detail1 }}<br>{{ detail2 }}</p>
    <p class="decanter-quote__quote">"{{ text }}"</p>
  </div>
</div>
