<div class="decanter-quote {{ modifier_class }}">
  <img class="decanter-media-block__img " src="../../../img/circle.png" alt="Please provide alt text">
  <div class="decanter-media-block__body ">
    <h2>{{ name }}</h2>
    <p>{{ detail1 }}<br>{{ detail2 }}</p>
    <h3>"{{ text }}"</h3>
  </div>
</div>
