{#
/**
 * @file
 * Template for a single celled centered content layout.
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * header - Centered single column open content area
 * footer - Centered single column open content area
 * content - Centered single column open content area
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">

  {% if header is not empty %}
  <header class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ header }}
    </div>
  </header>
  {% endif %}

  {% if content is not empty %}
  <section class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ content}}
    </div>
  </section>
  {% endif %}

  {% if footer is not empty %}
  <footer class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ footer }}
    </div>
  </footer>
  {% endif %}

</div>
