{#
/**
 * @file
 * A three column layout with a 3 span header and an unequal three column layout
 * below it where the center column is 50%
 *
 * 100
 * 25/50/25
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * header - A single column centered content area.
 * first - A skinny 25% width left sidebar.
 * second - A larger 50% width centered column.
 * third - A skinny 25% width right sidebar
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <div class="flex-container flex-container--row-gap centered-container">

    {% if header is not empty %}
    <header class="flex-12-of-12">
      {{ header }}
    </header>
    {% endif %}

    {% if first is not empty %}
    <div class="flex-md-3-of-12">
      {{ first }}
    </div>
    {% endif %}

    {% if second is not empty %}
    <div class="flex-md-6-of-12">
      {{ second }}
    </div>
    {% endif %}

    {% if third is not empty %}
    <div class="flex-md-3-of-12">
      {{ third }}
    </div>
    {% endif %}

  </div>
</div>
