<h3>Single Level</h3>
  <ul class="decanter-sidenav__list">
      {{ activeParent }}
      {{ parent }}
      {{ parent }}
  </ul>

<h3>Two Levels</h3>
  <ul class="decanter-sidenav__list">
      {{ parent }}
      {{ activeParent }}
      <ul class="decanter-sidenav__sublist">
          {{ child }}
          {{ child }}
          {{ child }}
          {{ child }}
          {{ activeChild }}
      </ul>
      {{ parent }}
  </ul>

<h3>Three Levels</h3>
  <ul class="decanter-sidenav__list">
      {{ parent }}
      {{ activeParent }}
      <ul class="decanter-sidenav__sublist">
          {{ child }}
          {{ activeChild }}
          <ul class="decanter-sidenav__sublist">
              {{ grandchild }}
              {{ grandchild }}
              {{ activeGrandchild }}
          </ul>
          {{ child }}
          {{ child }}
          {{ child }}
      </ul>
      {{ parent }}
  </ul>
