<a {{ attributes }} href="{{ link|default("https://stanford.edu") }}" class="{{ attributes.addClass('decanter-cta') }} {{ modifier_class }} {{ grid }}">
  <img class="decanter-cta__img" src="{{ src|default("../../../img/hero-banner.png") }}" alt="{{ alt|default("Please provide alt text") }}">
  <i class="decanter-cta__icon {{ icon|default("fas fa-cat") }}"></i>
  <h2 class="decanter-cta__button">{{ text|default("Button text") }}</h2>
</a> <!-- cta end -->