{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * -
 * -
 * -
 * -
 * -
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">

  {% if full_width is not empty %}
  <div>
    {{ full_width }}
  </div>
  {% endif %}

  <section>
    {{ content }}
  </section>

  {% if full_width2 is not empty %}
  <div>
    {{ full_width2 }}
  </div>
  {% endif %}

  {% if content2 is not empty %}
  <section>
    {{ content2 }}
  </section>
  {% endif %}

</div>
