{#
/**
 * @file
 * Logo Component
 *
 * The Stanford wordmark logo rendered with the custom Stanford ligature font.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional CSS classes to change look and behaviour.
 * - href: The URL that the logo links to.
 * - logo_text: The text for the ligature logo - either Stanford<br>University or Stanford.
 */
#}
{% if external_link_text is empty -%}
  {%- set external_link_text -%}
    <span class="su-global-footer__link-a11y"> (link is external)</span>
  {% endset %}
{%- endif %}

<a {{ attributes }} id="su-logo" class="su-logo {{ modifier_class }}" aria-hidden="true" tabindex="-1" href="{{ href|default('https://www.stanford.edu') }}">{{ logo_text|default('Stanford<br>University')|raw }}{{ external_link_text }}</a>
