{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 *
 *
 *
 *
 *
 */
#}
<div{{ attributes }} class="layout layout-percles {{ modifier_class }}">
  <div>
    <div>
      {{ first }}
    </div>

    <header>
      {{ second }}
    </header>

    <div>
      {{ third }}
    </div>

    <div>
      {{ fourth }}
    </div>

    <div>
      {{ fifth }}
    </div>
  </div>
</div>
