{#
/**
 * @file
 * Responsive — Responsive Classes.
 *
 * This template provides an example of span 2 of 12 columns in
 * a four column panel display layout, with each column equal in width.
 *
 * Variables
 * first - First of six columns
 * second - Second of six columns
 * third - Third of six columns
 * fourth - Fourth of six columns
 * fifth - Fifth of six columns
 * sixth - Sixth of six columns
 *
#}

<div>
    <section class="flex-container centered-container">
      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ first }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ second }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ third }}
      </div>

      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ fourth }}
      </div>
      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ fifth }}
      </div>
      <div class="flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12">
        {{ sixth }}
      </div>
    </section>
</div>


<figure class="kss-highlight">
  <pre>
  <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"flex-item flex-lg-2-of-12 flex-xl-2-of-12 flex-2xl-2-of-12"</span><span class="nt">&gt;</span>
  </pre>
</figure>
