<div class="decanter-quote">
  <img class="decanter-quote__img" src="{{ src }}" alt="{{ alt }}">
  <div class="decanter-quote__body">
    <p class="decanter-quote__heading">{{ name }}</p>
    <p class="decanter-quote__bio">{{ bio }}</p>
    <p class="decanter-quote__quote">"{{ text }}"</p>
  </div>
</div>
