{#
/**
 * @file
 * Local Footer Component.
 *
 * Figma source: https://www.figma.com/file/Kmd4utmJFPRMVeCFEEBQhLtx/Stanford-Design-Library?node-id=2384%3A1177
 *
 * This local footer template is to support the global footer and provide
 * site contextual links.
 */
#}
{%- if template_path_lockup is empty -%}
  {%- set template_path_lockup = "@decanter/components/lockup/lockup.twig" -%}
{%- endif %}

{% if lockup_options is empty -%}
 {%- set lockup_options = { "modifier_class": 'su-lockup--option-a', "line1": lockup_title } -%}
{%- endif -%}

<div {{- attributes }} class="su-local-footer {{ modifier_class }}">
  <header class="su-local-footer__header">
    {% include template_path_lockup with lockup_options %}
  </header>
  <section class="su-local-footer__columns">
    <div class="su-local-footer__cell1">
      {% if address|render|striptags|trim is not empty %}
      <address class="su-local-footer__address">
        {{ address }}
      </address>
      {% endif %}
      {% if action_links is not empty%}
      <ul class="su-local-footer__action-links">
        {% if actions_links is iterable %}
          {# do macro. #}
        {% else %}
          {{ action_links }}
        {% endif %}
      </ul>
      {% endif %}
      {% if social_links is not empty%}
      <ul class="su-local-footer__social-links">
        {% if social_links is iterable %}
          {# do macro. #}
        {% else %}
          {{ social_links }}
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <div class="su-local-footer__cell2">
      {% if primary_links is not empty%}
      <nav aria-label="footer primary nav">
        {% if primary_links_header is not empty %}
        <p class="su-local-footer__list-heading">{{ primary_links_header|default("Primary Links") }}</p>
        {% endif %}
        <ul class="su-local-footer__primary-links">
          {% if primary_links is iterable %}
            {# do macro. #}
          {% else %}
            {{ primary_links }}
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% if secondary_links is not empty%}
      <nav aria-label="footer secondary nav">
        {% if secondary_links_header is not empty %}
        <p class="su-local-footer__list-heading">{{ secondary_links_header|default("Secondary Links") }}</p>
        {% endif %}
        <ul class="su-local-footer__secondary-links">
          {% if secondary_links is iterable %}
            {# do macro. #}
          {% else %}
            {{ secondary_links }}
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    <div class="su-local-footer__cell3">
      {% if signup_form_action is not empty %}
      {{ signup_form_content }}
      <form class="su-local-footer__form" action="{{ signup_form_action }}" method="{{ signup_form_method|default('post') }}">
        <input type="email" id="{{ signup_form_field_email }}" name="{{ signup_form_field_email }}" placeholder="{{ signup_form_field_email_placeholder|default('email address') }}" {{ signup_form_field_email_required|default('required') }} />
        {{ signup_form_fields }}
        <input type="submit" id="{{ signup_form_field_submit }}" name="{{ signup_form_field_submit }}" value ="{{ signup_form_field_submit_value|default('Sign-up') }}" />
      </form>
      {% else %}
        {{ cell3 }}
      {% endif %}
    </div>
  </section>
</div>
