{#
/**
 * Macro for creating nested menus.
 */
#}
{% macro nav_menu(items, menu_level, class_prefix) %}
  {% import _self as menus %}
  <ul class="{{ class_prefix }}__menu-lv{{ menu_level }} {{ class_prefix }}__menu">
  {% spaceless %}
  {% for item in items %}
    {% set is_parent = item.children is empty ? false : true %}
    {% set list_classes = "" %}
    {% if is_parent %}
      {% set list_classes = list_classes ~ class_prefix ~ "__item--parent " %}
    {% endif %}
    {% if item.current %}
      {% set list_classes = list_classes ~  class_prefix ~ "__item--current " %}
    {% endif %}

    <li class="{{ list_classes|trim }}">
      {% if item.attributes is iterable %}
        {% set the_attrs = "" %}
        {% for key, val in item.attributes %}
          {% if val.twig_markup == true %}
            {% set val = val|merge({'twig_markup': null}) %}
          {% endif %}
          {% set the_attrs = the_attrs ~ key|trim ~ '="' ~ val|join|trim ~ '" ' %}
        {% endfor %}
      {% endif %}

      <a href="{{ item.href }}" {{ the_attrs }}>{{ item.text }}</a>
      {% if item.children %}
        {{ menus.nav_menu(item.children, menu_level + 1, class_prefix) }}
      {% endif %}
    </li>
  {% endfor %}
  {% endspaceless %}
  </ul>
{% endmacro %}
