{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * -
 * -
 *
 *
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  {# Optional Header #}
  {% if header is not empty %}
  <header class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ header }}
    </div>
  </header>
  {% endif %}

  {# Required content section #}
  <div class="flex-container centered-container">
    <aside class="flex-md-4-of-12">
      {{ sidebar }}
    </aside>

    <section class="flex-md-8-of-12">
      {{ content }}
    </section>
  </div>

  {# Optional footer #}
  {% if footer is not empty %}
  <footer class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ footer }}
    </div>
  </footer>
  {% endif %}
</div>
