{#
/**
 * @file
 * Css-Grid — Responsive Grid Column Mixins
 *
 * This file documents provides a visual example of of the mixin @responsive-grid-column in action.
 *
 *
#}
<div{{ attributes }} class="layout layout-bars {{ modifier_class }}">
  <div>
    {% block body %}
    <section {{ region_attributes.first }}>
      {{ first }}
    </section>

    <section {{ region_attributes.second }}>
      {{ second }}
    </section>

    <section {{ region_attributes.third }}>
      {{ third }}
    </section>
    {% endblock %}
  </div>
</div>
