{#
/**
 * @file
 * Css-Grid — Centered Column Mixins
 *
 * This file documents provides a visual example of of the mixin @centered-columns in action.
 * It uses the Toucan css grid layout.
 *
#}
<div{{ attributes }} class="layout layout-toucan {{ modifier_class }}">
  <div>

    {# Required column #}
    <div {{ region_attributes.first }}>
      {{ first }}
    </div>

    {# Required column #}
    <div {{ region_attributes.second }}>
      {{ second }}
    </div>

  </div>
</div>
