{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * -
 * -
 * -
 * -
 */
#}
<div{{ attributes }} class="layout layout-bars {{ modifier_class }}">
  <div>
    <section>
      {{ first }}
    </section>

    <section>
      {{ second }}
    </section>

    <section>
      {{ third }}
    </section>
  </div>
</div>
