<h4>Full Width</h4>
<div class="decanter-grid-full">
  <div class="{{ classes }}one-whole">1/1</div>
</div>

<h4>Whole & Halves</h4>
<div class="decanter-grid">
  <div class="{{ classes }}one-whole">1/1</div>

  <div class="{{ classes }}one-half">1/2</div>
  <div class="{{ classes }}one-half">1/2</div>
</div>
</div>

<h4>Thirds</h4>
<div class="decanter-grid">
<div class="{{ classes }}one-third">1/3</div>
<div class="{{ classes }}one-third">1/3</div>
<div class="{{ classes }}one-third">1/3</div>

<div class="{{ classes }}one-third">1/3</div>
<div class="{{ classes }}two-thirds">2/3</div>
</div>

<h4>Fourths & Halves</h4>
<div class="decanter-grid">
<div class="{{ classes }}one-fourth">1/4</div>
<div class="{{ classes }}one-fourth">1/4</div>
<div class="{{ classes }}one-fourth">1/4</div>
<div class="{{ classes }}one-fourth">1/4</div>

<div class="{{ classes }}one-fourth">1/4</div>
<div class="{{ classes }}three-fourths">3/4</div>

<div class="{{ classes }}one-fourth">1/4</div>
<div class="{{ classes }}one-half">1/2</div>
<div class="{{ classes }}one-fourth">1/4</div>
</div>

<h4>Sixths, Halves, and Thirds</h4>
<div class="decanter-grid">
<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-sixth">1/6</div>

<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}one-half">1/2</div>
<div class="{{ classes }}one-third">1/3</div>

<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}two-thirds">2/3</div>
<div class="{{ classes }}one-sixth">1/6</div>

<div class="{{ classes }}one-sixth">1/6</div>
<div class="{{ classes }}five-sixths">5/6</div>
</div>

<h4>Twelfths</h4>
<div class="decanter-grid">
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>
<div class="{{ classes }}one-twelfth">1/12</div>

<div class="{{ classes }}five-twelfths">5/12</div>
<div class="{{ classes }}seven-twelfths">7/12</div>
</div>
