{#
/**
 * @file
 * Css-Grid — Display Grid Mixins
 *
 * This file documents provides a visual example of of the mixin @display-grid in action.
 *
 *
#}
<div{{ attributes }} class="layout layout-space-invader {{ modifier_class }}">
  <div>

    {% if header is not empty %}
    <header {{ region_attributes.header }}>
      {{ header }}
    </header>
    {% endif %}

    {% if first is not empty %}
    <div {{ region_attributes.first }}>
      {{ first }}
    </div>
    {% endif %}

    {% if second is not empty %}
    <div {{ region_attributes.second }}>
      {{ second }}
    </div>
    {% endif %}

    {% if third is not empty %}
    <div {{ region_attributes.third }}>
      {{ third }}
    </div>
    {% endif %}

  </div>
</div>
