{#
/**
 * @file
 * Lockup Component.
 *
 * A lockup with the Stanford wordmark logo and department/site name. It links to the homepage of the department/unit.
 *
 * Default class for the lockup:
 * - .su-lockup - Lockup with one line to the right of the wordmark.
 *
 * Available variant for the lockup:
 * - .su-lockup--two-lines - Lockup with two lines to the right of the wordmark.
 *
 * Default classes for the individual site name lines:
 * - .su-lockup__sitename-line1 - Regular font style for line 1
 * - .su-lockup__sitename-line2 - Regular font style for line 2
 * - .su-lockup__sitename-line5 - Regular font style for line 5
 *
 * Available variants for the individual site name lines:
 * - .su-lockup__sitename-line1--small - Small font size for line 1 - only when line 2 exists
 * - .su-lockup__sitename-line1--supersmall - Supersmall font size for line 1 - only when line 2 exists
 * - .su-lockup__sitename-line1--uppercase - Uppercase and bold font for line 1
 * - .su-lockup__sitename-line5--uppercase - Uppercase, bold and smaller font for line 5
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour.
 * - link: The URL that the lockup links to.
 * - line1: Line 1 of the unit/site name text (to the right of the wordmark).
 * - line2: Line 2 of the unit/site name text (to the right of the wordmark).
 * - line5: Line 5 of the unit/site name text (at the bottom part of the lockup).
 * - line1_modifier_class: Classes for line 1 font variants
 * - line5_modifier_class: Classes for line 5 font variants
 */
#}
<div{{ attributes }} class="su-lockup {{ modifier_class }}">

  {# Cell container #1 #}
  <div class="su-lockup__cell1">
    {% if main_link is not empty %}
    <a href="{{ main_link }}" class="su-lockup__wordmark-link">
    {% endif %}
    <span class="su-lockup__wordmark">Stanford</span>

    {% if line4 is not empty %}
    <span class="su-lockup__line4" {{ region_attributes.line4 }}>{{ line4 }}</span>
    {% endif %}

    {% if main_link is not empty %}
    </a>
    {% endif %}
  </div>

  {# Cell container #2 #}
  <div class="su-lockup__cell2">
    {% if secondary_link is not empty %}
    <a href="{{ secondary_link }}" class="su-lockup__lines-link">
    {% endif %}

    {% if line1 is not empty %}
    <span class="su-lockup__line1" {{ region_attributes.line1 }}>{{ line1 }}</span>
    {% endif %}

    {% if line2 is not empty %}
    <span class="su-lockup__line2" {{ region_attributes.line2 }}>{{ line2 }}</span>
    {% endif %}

    {% if line3 is not empty %}
    <span class="su-lockup__line3" {{ region_attributes.line3 }}>{{ line3 }}</span>
    {% endif %}

    {% if secondary_link is not empty %}
    </a>
    {% endif %}
  </div>

  {# Line 5 of Site Name - Optional #}
  {% if line5 is not empty %}
    <div class="su-lockup__line5 {{ region_attributes.line5 }}">{{ line5 }}</div>
  {% endif %}
</div>
