{#
/**
 * @file
 * Template for a three equal column layout. 33/33/33
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * first - First of three equal columns
 * second - Second of three equal columns
 * third - third of three equal columns
 * body - A block area to allow for others to change wrappers around regions.
 */
#}
<div{{ attributes }} class="layout layout-bars {{ modifier_class }}">
  <div>
    {% block body %}
    <section>
      {{ first }}
    </section>

    <section>
      {{ second }}
    </section>

    <section>
      {{ third }}
    </section>
    {% endblock %}
  </div>
</div>
