{#
/**
 * @file
 * Css-Grid — Donies Comparison
 *
 * This file documents compares the Flexbox and CSS grid donies example.
 *
 * Variables
 * first - First of two columns
 * second - Second of two columns
 *
#}

<h5>Flexbox — Donies</h5>
<div{{ attributes }} class="layout {{ modifier_class }}">
  {# Optional header region #}
  {% if header is not empty %}
  <header class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ header }}
    </div>
  </header>
  {% endif %}

  {# Mandatory content region #}
  <section class="flex-container centered-container">
    <div class="flex-md-6-of-12 flex-lg-6-of-12 flex-xl-6-of-12 flex-2xl-6-of-12">
      {{ first }}
    </div>

    <div class="flex-md-6-of-12 flex-lg-6-of-12 flex-xl-6-of-12 flex-2xl-6-of-12">
      {{ second }}
    </div>
  </section>

  {# Optional footer region #}
  {% if footer is not empty %}
  <footer class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ footer }}
    </div>
  </footer>
  {% endif %}
</div>
<figure class="kss-highlight">
  <pre>
  <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"layout"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;header </span><span class="na">class=</span><span class="s">"flex-container centered-container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"flex-12-of-12"</span><span class="nt">&gt;</span>
      <span class="c">&lt;!-- Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/header&gt;</span>

    <span class="nt">&lt;section </span><span class="na">class=</span><span class="s">"flex-container centered-container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"flex-md-6-of-12 flex-lg-6-of-12 flex-xl-6-of-12 flex-2xl-6-of-12"</span><span class="nt">&gt;</span>
      <span class="c">&lt;!-- Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"flex-md-6-of-12 flex-lg-6-of-12 flex-xl-6-of-12 flex-2xl-6-of-12"</span><span class="nt">&gt;</span>
      <span class="c">&lt;!-- Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/section&gt;</span>

    <span class="c"> ... </span>

    <span class="nt">&lt;footer </span><span class="na">class=</span><span class="s">"flex-container centered-container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"flex-12-of-12"</span><span class="nt">&gt;</span>
      <span class="c">&lt;!-- Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/footer&gt;</span>

  <span class="nt">&lt;/div&gt;</span>
  </pre>
</figure>

<h5>CSS Grid — Donies</h5>
<div{{ attributes }} class="layout layout-donies {{ modifier_class }}">
  {# Optional header region #}
  {% if header is not empty %}
  <header {{ region_attributes.header }}>
    {{ header }}
  </header>
  {% endif %}

  {# Mandatory content region #}
  <section>
    <div {{ region_attributes.first }}>
      {{ first }}
    </div>

    <div {{ region_attributes.second }}>
      {{ second }}
    </div>
  </section>

  {# Optional footer region #}
  {% if footer is not empty %}
  <footer {{ region_attributes.footer }}>
    {{ footer }}
  </footer>
  {% endif %}
</div>
<figure class="kss-highlight">
  <pre>
    <span class="nt">&lt;div </span><span class="na">class=</span><span class="s">"layout layout-donies "</span><span class="nt">&gt;</span>

      <span class="nt">&lt;header&gt;</span>
        <span class="c">&lt;!-- Content --&gt;</span>
      <span class="nt">&lt;/header&gt;</span>

      <span class="nt">&lt;section&gt;</span>
        <span class="nt">&lt;div&gt;</span>
          <span class="c">&lt;!-- Content --&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div&gt;</span>
          <span class="c">&lt;!-- Content --&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/section&gt;</span>

      <span class="nt">&lt;footer&gt;</span>
        <span class="c">&lt;!-- Content --&gt;</span>
      <span class="nt">&lt;/footer&gt;</span>

    <span class="nt">&lt;/div&gt;</span>
  </pre>
</figure>
