{#
/**
 * @file
 * I-Beam
 * A full width single column alternative with a single centered column layou.
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * full_width - Full width content region
 * content - Single column centered content region
 * full_width2 - Full width content region
 * content2 - Single column centered content region
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">

  {% if full_width is not empty %}
  <div>
    {{ full_width }}
  </div>
  {% endif %}

  {% if content is not empty %}
  <section class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ content }}
    </div>
  </section>
  {% endif %}

  {% if full_width2 is not empty %}
  <div>
    {{ full_width2 }}
  </div>
  {% endif %}

  {% if content2 is not empty %}
  <section class="flex-container centered-container">
    <div class="flex-12-of-12">
      {{ content2 }}
    </div>
  </section>
  {% endif %}

</div>
