{#
/**
 * @file
 * A three column layout with a 3 span header and an equal three column layout
 * below it.
 *
 * 100
 * 33/33/33
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * header - A single column centered content area.
 * first - A 33% width content column.
 * second - A 33% width content column.
 * third - A 33% width content column.
 */
#}
<div{{ attributes }} class="layout layout-space-invader {{ modifier_class }}">
  <div>

    {% if header is not empty %}
    <header {{ region_attributes.header }}>
      {{ header }}
    </header>
    {% endif %}

    {% if first is not empty %}
    <div {{ region_attributes.first }}>
      {{ first }}
    </div>
    {% endif %}

    {% if second is not empty %}
    <div {{ region_attributes.second }}>
      {{ second }}
    </div>
    {% endif %}

    {% if third is not empty %}
    <div {{ region_attributes.third }}>
      {{ third }}
    </div>
    {% endif %}

  </div>
</div>
