{#
/**
 * @file
 * Card Component. Default is a vertical card with an image above text content.
 *
 * Available variants:
 *   - .su-card--horizontal: Media field and text content are side by side.
 *   - .su-card--link: Whole card is a link with no button or call to action link.
 *   - .su-card--minimal: No background, drop shadow and space around. Do not use with the .su-card--link class.
 *   - .su-card--icon: An image icon above text content.
 *   - .su-card--icon-font: An icon font above text content.
 *   - .su-card--video: A video above text content.
 *
 * Available variables:
 * - attributes: Additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behavior.
 * - card_headline: Main headind text for the card.
 * - card_headline_link: Boolean. Set to true if headline acts as a link.
 * - card_super_headline: Text super headline. Often used for metadata such as category.
 * - card_body: An open variable for anything including HTML. Generally this would be for WYSIWYG editor contents.
 * - card_link: The href value for the card. A single card is only allowed to link to one URL.
 * - card_cta_attributes: Any html attributes on the link that need to be added. For example: rel='noopener', target='_blank'.
 *     This acts as the attributes for the link button and headline link as well.
 * - card_cta_label: The clickable text for the CTA link
 * - card_button_label: The text label of the button component.
 * - card_image: A full HTML <img> element for the image including attributes.
 * - card_icon_image: A full HTML <img> element for the icon including attributes.
 * - card_icon_font_class: If using icon font, e.g., FontAwesome, the class(es) of the icon including modifier classes,
  e.g. 'fas fa-globe fa-2x', 'far fa-thumbs-up fa-rotate-90'
 * - card_video: Provide whole <iframe> element if embedding from streaming sites such as YouTube and Vimeo.
  Provide only the file path if embedding your own video file.
 * - card_video_attributes: If providing your own video file, attributes for the <video> element, e.g., autoplay, muted, loop, etc.
 */
#}

{#
  Template Include Paths
  Override these if you want to include a different template.
#}
{%- if template_path_link is empty -%}
  {%- set template_path_link = "@decanter/components/link/link.twig" -%}
{%- endif -%}

{# For variant where whole card is a link, suppress all other links within the component #}
{%- if "su-card--link" in modifier_class -%}
  {%- set allow_links = false -%}
{%- else -%}
  {%- set allow_links = true -%}
{%- endif -%}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' type='text/css' media='' />

<div {{ attributes }} class="su-card {{ modifier_class }}">
  {# For variant where whole card is a link, add an <a> within the outer wrapper <div> #}
  {%- if allow_links == false %}
    <a href="{{ card_link }}" {{ card_cta_attributes }}>
  {%- endif -%}

  {# Media field - Image, image icon, icon font or video #}
  {%- if 'su-card--video' in modifier_class -%}
    {# Support for: YouTube and Vimeo iframe or video file #}
    <div class="su-card__embed">
    {%- if 'iframe' in card_video -%}
      {{ card_video }}
    {%- else -%}
      <video controls {{ card_video_attributes }}>
        {%- if 'mp4' in card_video -%}
          {% set card_video_type = '/mp4' %}
        {%- elseif 'webm' in card_video -%}
          {% set card_video_type = '/webm' %}
        {%- elseif 'mov' in card_video -%}
          {% set card_video_type = '/mov' %}
        {%- elseif 'ogg' in card_video -%}
          {% set card_video_type = '/ogg' %}
        {%- elseif 'avi' in card_video -%}
          {% set card_video_type = '/avi' %}
        {% endif -%}
        <source src="{{ card_video }}" type="video{{ card_video_type }}">
        <p>Sorry, your browser doesn't support embedded videos.</p>
      </video>
    {% endif -%}
    </div>{# end su-card__embed #}

  {%- elseif 'su-card--icon-font' in modifier_class -%}
    {# Support for: icon font #}
    <span class="{{ card_icon_font_class }}" aria-hidden="true"></span>

  {%- elseif 'su-card--icon' in modifier_class %}
    {# Support for: icon image; use card_icon_image if exists, if not, use card_Image #}
    {%- if card_icon_image is not empty %}
      {{ card_icon_image }}
    {% endif -%}

  {%- else %}
    {# Support for: image if exists; <figure> wrapper allows for fixed aspect ratio #}
    {%- if card_image is not empty %}
      <figure>{{ card_image }}</figure>
    {% endif -%}

  {% endif -%}

  <div class="su-card__contents">

    {# Card Super Headline #}
    {%- block block_card_super_headline %}
      {% if card_super_headline is not empty %}
        <span>{{ card_super_headline }}</span>
      {% endif -%}
    {% endblock -%}

    {# Card Headline #}
    {%- block block_card_headline  %}
      {%- if card_headline is not empty %}
        <h2>
          {%- if card_headline_link and allow_links -%}
            <a href="{{ card_link }}" {{ card_cta_attributes }}>
          {%- endif -%}
            {{- card_headline -}}
          {% if card_headline_link and allow_links -%}
            </a>
          {%- endif -%}
        </h2>
      {% endif -%}
    {% endblock -%}

    {# An open field for body content #}
    {{ card_body }}

    {# Card CTA Link #}
    {%- if card_cta_label is not empty and allow_links %}
      {%- include template_path_link with
        {
        "link_href": card_link,
        "link_content": card_cta_label,
        "attributes": card_cta_attributes,
        "modifier_class": "su-card__link su-link--action"
        }
        only
      -%}
    {% endif -%}

    {# Big ol button. Adds a BEM class for targeting. #}
    {%- if card_button_label is not empty and allow_links %}
      <div class="su-card__button">
      {%- include template_path_link with
        {
        "link_href": card_link,
        "link_content": card_button_label,
        "attributes": card_cta_attributes,
        "modifier_class": "su-button"
        }
        only
      -%}
      </div>
    {% endif -%}

  </div>{# end of .su-card__contents #}

  {%- if allow_links == false %}
    </a>
  {%- endif -%}
</div>
