{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
<div{{ attributes.addClass(
  'layout-container',
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav'
) }}>

  <!-- ______________________ HEADER _______________________ -->

  <header id="header">
    <div class="container">
      {% if page.header %}
        <div id="header-region">
          {{ page.header }}
        </div>
      {% endif %}
    </div>
  </header><!-- /#header -->

  {% if main_menu or secondary_menu %}
    <nav id="navigation" class="menu{% if main_menu %} with-primary{% endif %}{% if secondary_menu %} with-secondary{% endif %}">
      <div class="container">
        {{ main_menu }}
        {{ secondary_menu }}
      </div>
    </nav><!-- /#navigation -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
    <div class="container">
      <section id="content">

        <div id="content-header">

          {{ page.breadcrumb }}

          {% if page.highlighted|render %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}

          {{ title_suffix }}
          {{ page.help }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div><!-- /#content-header -->

      </section><!-- /#content -->

    </div><!-- /.container -->
  </div><!-- /#main -->

  <!-- ______________________ FULL WIDTH _______________________ -->

  <div id="full-width-always">
    {{ page.content }}
  </div>

  <!-- ______________________ FOOTER _______________________ -->

  {% if page.footer|render %}
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer><!-- /#footer -->
  {% endif %}

</div><!-- /.layout-container -->
