{% set main_menu = page.primary_menu | render %}
{% set secondary_menu = page.secondary_menu | render %}

<!-- ______________________ HEADER _______________________ -->

{% if page.header %}
  <header id="header">
    <div class="decanter-grid">
      {{ page.header }}
    </div>
  </header>
  <!-- /#header -->
{% endif %}

{% if main_menu or secondary_menu %}
  <nav id="navigation" class="menu{% if main_menu %} with-primary{% endif %}{% if secondary_menu %} with-secondary{% endif %}">
    {{ main_menu }}
    {{ secondary_menu }}
  </nav>
  <!-- /#navigation -->
{% endif %}

<!-- ______________________ MAIN _______________________ -->

{{ page.breadcrumb }}

{% if page.highlighted | render %}
  <div id="highlighted">{{ page.highlighted }}</div>
{% endif %}

{{ title_prefix }}

{% if title %}
  <h1 class="title">{{ title }}</h1>
{% endif %}

{{ title_suffix }}
{{ page.help }}

{% if tabs %}
  <div class="tabs">{{ tabs }}</div>
{% endif %}

{% if action_links %}
  <ul class="action-links">{{ action_links }}</ul>
{% endif %}

<div class="decanter-grid main-container">
  {{ page.content }}
</div>

<!-- ______________________ FOOTER _______________________ -->

{% if page.footer | render %}
  <footer id="footer">
    <div class="decanter-grid">
      {{ page.footer }}
    </div>
  </footer>
  <!-- /#footer -->
{% endif %}
