{#
/**
 * @file
 * Template for a three row three column layout.
 * 66/33
 * 33/33/33
 * 33/33/33
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * first - a two column span content region
 * second - a single column span content region
 * third - a single column 1/3 width content region
 * fourth - a single column 1/3 width content region
 * fifth - a single column 1/3 width content region
 * sixth - a single column 1/3 width content region
 * seventh - a single column 1/3 width content region
 * eighth - a single column 1/3 width content region
 * body - a block area for changing the wrappers on the content regions
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <div class="flex-container flex-container--row-gap centered-container">
    {% block body %}
    {% if first is not empty %}
    <div class="flex-lg-8-of-12">
      {{ first }}
    </div>
    {% endif %}

    {% if second is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ second }}
    </div>
    {% endif %}

    {% if third is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ third }}
    </div>
    {% endif %}

    {% if fourth is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ fourth }}
    </div>
    {% endif %}

    {% if fifth is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ fifth }}
    </div>
    {% endif %}

    {% if sixth is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ sixth }}
    </div>
    {% endif %}

    {% if seventh is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ seventh }}
    </div>
    {% endif %}

    {% if eighth is not empty %}
    <div class="flex-md-6-of-12 flex-lg-4-of-12">
      {{ eighth }}
    </div>
    {% endif %}
    {% endblock %}
  </div>
</div>
