<figure class="su-quote">
  <img class="su-quote__img" src="{{ src }}" alt="{{ alt }}">
  <section class="su-quote__body">
    <h3 class="su-quote__heading">{{ name }}</h3>
    <p class="su-quote__bio">{{ bio }}</p>
    <blockquote>
      <p class="su-quote__quote">"{{ text }}"</p>
    </blockquote>
  </section>
</figure>
