{#
/**
 * @file
 * Quote Component.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional CSS classes to change look and behaviour.
 * - src: The source image path
 * - alt: The alt path
 * - name: The name of the source of the quote.
 * - bio: The bio text for the quote.
 * - text: The body text for the quote.
 * - content: An unopinionated open field for all types of content.
 */
#}
<figure {{ attributes }} class="su-quote {{ modifier_class }}">
  {%- if src is not empty -%}
  <img class="su-quote__img" src="{{ src }}" alt="{{ alt }}">
  {%- endif -%}
  <section class="su-quote__body">
    {%- if name is not empty -%}
    <h3 class="su-quote__heading">{{ name }}</h3>
    {%- endif -%}
    {%- if bio is not empty -%}
    <p class="su-quote__bio">{{ bio }}</p>
    {%- endif -%}
    {%- if text is not empty -%}
    <blockquote>
      <p class="su-quote__quote">"{{ text }}"</p>
    </blockquote>
    {%- endif -%}
    {{ content }}
  </section>
</figure>
