<div class="su-quote">
  <img class="su-quote__img" src="{{ src }}" alt="{{ alt }}">
  <div class="su-quote__body">
    <p class="su-quote__heading">{{ name }}</p>
    <p class="su-quote__bio">{{ bio }}</p>
    <p class="su-quote__quote">"{{ text }}"</p>
  </div>
</div>
