<a{{ attributes }} class="su-logo {{ modifier_class }}" href="{{ href|default('https://www.stanford.edu') }}" >
  <img src="{{ src|default("../../img/footer-stanford-logo@2x.png") }}" alt="{{ alt|default("Stanford University") }}" />
</a>
