{#
+/**
+ * @file
+ * Main Navigation Component
+ *
+ * A navigation menu for the website.
+ *
+ * Available variables:
+ * - attributes: For additional HTML attributes not already provided.
+ * - modifier_class: Additional css classes to change look and behaviour of the component.
+ * - toggle_modifier_class: Additional css classes to change look and behaviour of the toggle.
+ * - aria_label: Aria label for the <nav> element. Default is "main menu". If there are multiple instances of the component on the same page, use a different aria_label for each instance.
+ * - list_items: Structured data that is iterable or custom markup
+ *
+ */
+#}

{#
  Template Include Paths
  Override these if you want to include a different template.
#}
{%- if template_path_macro is empty -%}
  {%- set template_path_macro = "@decanter/utilities/macros/menu-loop.twig" -%}
{%- endif -%}
{%- if template_path_search is empty -%}
  {%- set template_path_search = "@decanter/components/site-search/site-search.twig" -%}
{%- endif -%}

{% spaceless %}
{# Macros #}
{% import template_path_macro as menus %}

{# BACKWARDS COMPATIBILITY WITH V5.0 #}
{# TO BE REMOVED IN V7.0 #}
{% set reformatted = [] %}
{% set v5 = false %}
{% if list_items is iterable %}
  {% for item in list_items %}

    {% if item.attributes is not empty %}
      {% set new_attr = {} %}

      {% for attrs in item.attributes %}
        {% if attrs.attr is not empty %}
          {% set v5 = true %}
          {% set attrs_key = attrs.attr|slice("twig_markup")|join|trim %}
          {% set attrs_value = attrs.value|slice("twig_markup")|join|trim %}
          {% set new_attr = new_attr|merge({(attrs_key): (attrs_value)}) %}
        {% endif %}

        {% if new_attr is not empty %}
          {% set item2 = {} %}
          {% for prop_key, prop in item %}
            {% if prop_key != "attributes" %}
              {% set item2 = item2|merge({(prop_key): prop}) %}
            {% endif %}
          {% endfor %}
          {% set item2 = item2|merge({"attributes": new_attr}) %}
          {% set item = item2 %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if item.lv2 is not empty %}
      {% set v5 = true %}
      {% set the_children = [] %}
      {% for child in item.lv2 %}

        {% if child.attributes is not empty %}
          {% set new_attr = {} %}

          {% for attrs in child.attributes %}
            {% if attrs.attr is not empty %}
              {% set v5 = true %}
              {% set attrs_key = attrs.attr|slice("twig_markup")|join|trim %}
              {% set attrs_value = attrs.value|slice("twig_markup")|join|trim %}
              {% set new_attr = new_attr|merge({(attrs_key): (attrs_value)}) %}
            {% endif %}

            {% if new_attr is not empty %}
              {% set child2 = {} %}
              {% for prop_key, prop in child %}
                {% if prop_key != "attributes" %}
                  {% set child2 = child2|merge({(prop_key): prop}) %}
                {% endif %}
              {% endfor %}
              {% set child2 = child2|merge({"attributes": new_attr}) %}
              {% set child = child2 %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% set the_children = the_children|merge([child]) %}
      {% endfor %}
      {% set item = item|merge({"children": the_children}) %}
    {% endif %}

    {% set reformatted = reformatted|merge([item]) %}
  {% endfor %}
{% endif %}

{% if v5 == true %}
  {% set list_items = reformatted %}
{% endif %}
{% endspaceless %}
{# BACKWARDS COMPATIBILITY WITH V5.0 #}

<nav {{ attributes }} class="su-main-nav no-js {{ modifier_class }}" aria-label="{{ aria_label|default('main menu') }}">
  <button class="su-main-nav__toggle {{ toggle_modifier_class }}" aria-expanded="false">{{ toggle_text|default('Menu') }}</button>
  {% if "su-main-nav--mobile-search" in modifier_class %}
    {% include template_path_search with
      {
        "action": mobile_search.action,
        "method": mobile_search.method,
        "search_label": mobile_search.search_label,
        "placeholder": mobile_search.placeholder,
        "search_input_name": mobile_search.search_input_name,
        "search_icon_src": mobile_search.search_icon_src
      }
      only
    %}
  {% endif %}
  {% spaceless %}
  {% if list_items is iterable %}
    {{ menus.nav_menu(list_items, 1, 'su-main-nav') }}
  {% else %}
    {# If custom markup is provided, emit it as is #}
    {{ list_items }}
  {% endif %}
  {% endspaceless %}
</nav>
