{#
/**
 * @file
 * A three column layout with a two column content area topped with a 2 span
 * header area and footed by a two span content aread and a top to bottom
 * of content sidebar region.
 *
 * Variants:
 * layout-cuttoner--right - A right sidebar variant to the layout.
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * header - A two span 66% topper for the first and second columns.
 * first - A single 33% width column
 * second - A single 33% width column
 * footer - A two span 66% footer for the first and second columns
 * sidebar - A 33% multiple row spanning sidebar
 *
 */
#}
<div{{ attributes }} class="layout {{ modifier_class }}">
  <div>

    <section>
      {% if header is not empty %}
      <header>
        {{ header }}
      </header>
      {% endif %}

      {% if first is not empty %}
      <div>
        {{ first }}
      </div>
      {% endif %}

      {% if second is not empty %}
      <div >
        {{ second }}
      </div>
      {% endif %}

      {% if footer is not empty %}
      <footer>
        {{ footer }}
      </footer>
      {% endif %}
    </section>

    {% if sidebar is not empty %}
    <aside>
      {{ sidebar }}
    </aside>
    {% endif %}

  </div>
</div>
