{#
/**
 * @file
 * Template for a complex column panel layout.
 *
 * This template provides a complex column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * -
 * -
 *
 *
 *
 */
#}
<div{{ attributes }} class="layout layout-plakes {{ modifier_class }}">
  {# Optional Header #}
  {% if header is not empty %}
  <header>
    {{ header }}
  </header>
  {% endif %}

  {# Grid Container #}
  <div>
    {# Manditory sidebar #}
    <aside>
      {{ sidebar }}
    </aside>

    {# Manditory content #}
    <section>
      {{ content }}
    </section>
  </div>

</div>
