{#
/**
 * @file
 * Multi Menu Navigation Component
 *
 * A navigation menu for the website.
 *
 * Available variables:
 * - attributes: For additional HTML attributes not already provided.
 * - modifier_class: Additional css classes to change look and behaviour of the component.
 * - toggle_modifier_class: Additional css classes to change look and behaviour of the toggle.
 * - aria_label: Aria label for the <nav> element. Default is "main menu". If there are multiple instances of the component on the same page, use a different aria_label for each instance.
 * - list_items: Structured data that is iterable or custom markup
 */
#}

{#
  Template Include Paths
  Override these if you want to include a different template.
#}
{%- if template_path_macro is empty -%}
  {%- set template_path_macro = "@decanter/utilities/macros/menu-loop.twig" -%}
{%- endif -%}

{# Macros #}
{%- import template_path_macro as menus -%}

<nav {{ attributes }} class="su-multi-menu no-js {{ modifier_class }}" aria-label="{{ aria_label|default('primary menu') }}">
  {% block multimenubutton %}
  <button class="su-multi-menu__nav-toggle {{ toggle_modifier_class }}" aria-expanded="false">{{ toggle_text|default('Menu') }}</button>
  {% endblock %}
  {% spaceless %}
  {% if list_items is iterable %}
    {{ menus.nav_menu(list_items, 1, 'su-multi-menu') }}
  {% else %}
    {# If custom markup is provided, emit it as is #}
    {{ list_items }}
  {% endif %}
  {% endspaceless %}
</nav>
