<header class="region region--header">
  {{ header_content }}
</header>

<div class="page-layout page-layout--three-column">
  <div role="main" class="region region--content page-layout--three-column--content">
    {{ main_content }}
  </div>
  <aside class="region region--sidebar region--sidebar-first page-layout--three-column--sidebar-first">
    {{ first_sidebar_content }}
  </aside>
  <aside class="region region--sidebar region--sidebar-second page-layout--three-column--sidebar-second">
    {{ second_sidebar_content }}
  </aside>
</div>

<footer class="region region--footer">
  {{ footer_content }}
</footer>
