<table class="{{ modifier_class }}" cellspacing="0" cellpadding="0">
  <tr>
    {{ header }}
    {{ header }}
    {{ header }}
  </tr>
  <tr>
    {{ cell }}
    {{ cell }}
    {{ cell }}
  </tr>
  <tr>
    {{ cell }}
    {{ cell }}
    {{ cell }}
  </tr>
  <tr>
    {{ cell }}
    {{ cell }}
    {{ cell }}
  </tr>
</table>
