{#
/**
 * @file
 * A three column layout with a 2 span header and an equal three column layout.
 *
 * AA BB BB
 * AA CC DD
 * AA CC DD
 *
 * Variables:
 * attributes - html attributes for the template wrapper tag
 * modifier_class - Variant modifier css classes
 * header - A single column centered content area.
 * first - A 33% width content column.
 * second - A 33% width content column.
 * third - A 33% width content column.
 */
#}
<div{{ attributes }} class="layout layout-sunset-delorean {{ modifier_class}}">
  <div>
    {% if header is not empty %}
    <header {{ region_attributes.header }}>
      {{ header }}
    </header>
    {% endif %}

    {% if first is not empty %}
    <section {{ region_attributes.first }}>
      {{ first }}
    </section>
    {% endif %}

    {% if second is not empty %}
    <section {{ region_attributes.second }}>
      {{ second }}
    </section>
    {% endif %}

    {# Sidebar #}
    {% if sidebar is not empty %}
    <aside {{ region_attributes.sidebar }}>
      {{ sidebar }}
    </aside>
    {% endif %}
  </div>
</div>
